# Dependencies
node_modules/
client/node_modules/

# Production
client/build/

# Uploads
uploads/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
